.egen{

    background-color: rgba(245,245,220,0.3);

}

body {
    background-color: #99bdf7;
    padding: 20px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
    color: white;
}

#st1h,#st2h,#st3h {
    opacity: 0;
    transition: .3s;
}

.st {
    border-radius: 10px;
h4{
    color:white;
    font-size:xx-large;
}

.stats1 {
    padding: 2em 0;
    transition: .5s;
    cursor: pointer;
}

.st i {transition: .5s;}

.st:hover {
    padding: 1.5em 0;
}

.st:hover i {
    font-size: 40px;
}

.st1 {
    background-color: #ff4a43;
}

.st1:hover {
    background-color: #a8302c;
}

.st2 {
    background-color: #a2d200;
}

.st2:hover {
    background-color: #607c01;
}

.st3 {
    background-color: #8e44ad;
}

.st3:hover {
    background-color: #542966;
}

i {
    font-size: 60px;
    color: white;
}

.left-section {
    background-color: rebeccapurple;
    border-radius: 10px;
    margin: 20px;
}

.top-section-left {
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin: 5px;
}

.bottom-section-left {
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin: 5px;
}


.right-section {
    background-color: rebeccapurple;
    border-radius: 10px;
    margin: 20px;
    
}

.top-section-right {
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin: 5px;

}
.bottom-section-right {
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin: 5px;
    height:330px;
    overflow-x:hidden !important;
    overflow-y:auto;
    overflow:auto;
    
     
}

.add_btn {
    border-radius: 10px;
    margin: 5px;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    width:30%;
}
    .add_btn:hover {
        background-color: beige;
        color: black;
        font-size:large;
        box-shadow: black 0px 0px 10px 10px inset ;
    }
    .add_btn:visited {
        background-color: red;
        color: black;
        font-size: large;
        box-shadow: black 0px 0px 10px 10px inset;
    }

.logut_btn {
    border-radius: 10px;
    margin: 5px;
    color: white;
    background-color: red;
    padding: 10px;
    width: 30%;
}

    .logut_btn:hover {
        background-color: beige;
        color: black;
        font-size: large;
        box-shadow: black 0px 0px 10px 10px inset;
    }

.fields {
    border-radius: 20px;
    border: 1px solid;
    font-size:large;
    text-align:center;
}

.fields:hover{

     
    background-color:beige;
    outline:none;
}

    .fields:focus {
        background-color: orangered;
        outline: none;
    }
    